{% extends "flood_risk/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
    <h1>Building Risk</h1>

            <label class ="control-label" for="bldg-shp-upload-input">Building Shapefile</label>
            <br>
            <input id ="bldg-shp-upload-input" class="shp-upload-input" name="bldg-shp-upload-input" style="display:inline-block;" type="file" accept = ".shp, .shx, .prj, .dbf" multiple>

            <div id="bldgid-select" style="display:inline-block;">
            <label for="bldg-field-select-0" style="padding-rigth:5px;">Building ID Field:</label>
                <select id="bldg-field-select-0">
                    <option value="">Select Field</option>
                </select>
            </div>
        <br><br>

        {% gizmo buffer_input %}

            <label class ="control-label" for="depth-shp-upload-input">Inundation Raster</label>
            <br>
            <input id ="depth-shp-upload-input" class="shp-upload-input" name="depth-shp-upload-input" style="display:inline-block;" type="file" accept = ".tif, .tfw, .xml, .ovr" multiple>
        <br><br>

            <label class ="control-label" for="tax-shp-upload-input">Tax Parcel Shapefile</label>
            <br>
            <input id ="tax-shp-upload-input" class="shp-upload-input" name="tax-shp-upload-input" style="display:inline-block;" type="file" accept = ".shp, .shx, .prj, .dbf" multiple>
            <div id="taxid-select" style="display:inline-block;">
            <label for="tax-field-select-0" style="padding-rigth:5px;">Tax Parcel ID Field:</label>
                <select id="tax-field-select-0">
                    <option value="">Select Field</option>
                </select>
            <br>
            <label for="tax-field-select-1" style="padding-rigth:5px;">Tax Parcel Value Field:</label>
                <select id="tax-field-select-1">
                    <option value="">Select Field</option>
                </select>
            </div>
        <br><br>

            <label class ="control-label" for="landuse-shp-upload-input">Land Use Shapefile</label>
            <br>
            <input id ="landuse-shp-upload-input" class="shp-upload-input" name="landuse-shp-upload-input" style="display:inline-block;" type="file" accept = ".shp, .shx, .prj, .dbf" multiple>
            <div id="landuseid-select" style="display:inline-block;">
            <label for="landuse-field-select-0" style="padding-rigth:5px;">Land Use ID Field:</label>
                <select id="landuse-field-select-0">
                    <option value="">Select Field</option>
                </select>
            <br>
            <label for="landuse-field-select-1" style="padding-rigth:5px;">Land Use Field:</label>
                <select id="landuse-field-select-1">
                    <option value="">Select Field</option>
                </select>
            </div>
        <br><br>
        {% gizmo button submit_buildings %}

{% endblock %}

{% block after_app_content %}

{% endblock %}

{% block content_dependent_styles %}
    {{ block.super }}
    <link href="{% static 'hpp/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://js.arcgis.com/4.15/"></script>
    <script src="{% static 'flood_risk/js/main.js' %}" type="text/javascript"></script
{% endblock %}