{% extends "flood_risk/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
    {% url 'flood_risk:building' as building_url %}
    {% url 'flood_risk:street' as street_url %}
    {% url 'flood_risk:manhole' as manhole_url %}
    {% url 'flood_risk:pipe' as pipe_url %}
    <div class="header">
        <div>
            <a href="{{ building_url }}" type="button" class="tablink" id="curlink_1">Building</a>
            <a href="{{ street_url }}" type="button" class="tablink" id="curlink_2">Street</a>
            <a href="{{ manhole_url }}" type="button" class="tablink" id="curlink_3">Manhole</a>
            <a href="{{ pipe_url }}" type="button" class="tablink" id="curlink_4">Pipe</a>
        </div>
    </div>

    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
        <a data-toggle="modal" data-target="#manhole-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
{% endblock %}

{% block app_navigation_items %}
  {% url 'flood_risk:building' as building_url %}
  {% url 'flood_risk:street' as street_url %}
  {% url 'flood_risk:manhole' as manhole_url %}
  {% url 'flood_risk:pipe' as pipe_url %}

  <li class="title">Navigation</li>
  <li class = "{% if request.path == building_url %}active{% endif %}"><a href="{{ building_url }}">Building Risk</a></li>
  <li class = "{% if request.path == street_url %}active{% endif %}"><a href="{{ street_url }}">Street Risk</a></li>
  <li class = "{% if request.path == manhole_url %}active{% endif %}"><a href="{{ manhole_url }}">Manhole Risk</a></li>
  <li class = "{% if request.path == pipe_url %}active{% endif %}"><a href="{{ pipe_url }}">Pipe Risk</a></li>

{% endblock %}


{% block app_content %}
    <div class="row" style="display:block;" id="manhole-menu">
        <div class="col-12 menu">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <div class="form-group manhole_upload">
                    <label class ="control-label" for="manhole-shp-upload-input">Manhole Shapefile</label>
                    <input id ="manhole-shp-upload-input" class = "shp-upload-input" name="manhole-shp-upload-input" style="display:inline-block;" type="file" accept = ".shp, .shx, .prj, .dbf, .cpg, .sbn, .sbx, .xml" multiple>
                    <br>
                    <div id="manholeid-select" style="display:inline-block;">
                    <label for="manhole-field-select-0" style="padding-right:5px;">Manhole ID Field:</label>
                        <select id="manhole-field-select-0">
                            <option value="">Select Field</option>
                        </select>
                    </div>
                </div>
                <div class="toolzip"><b>Manhole Buffer: </b><input class="input buffer-input" type="text" id="manhole-buffer" name="manhole-buffer" placeholder="50">
                    <span class="tooltiptext"><label class="glyphicon glyphicon-info-sign">_</label>Tooltip text</span>
                </div>
                <br>
                <label for="manhole-buffer" style="padding-right:5px;">Manhole Buffer:</label>

                <span style="white-space:nowrap; float:left; margin-left:2%; color:blue; cursor:pointer;" id=info-manhole-button class="glyphicon glyphicon-info-sign"></span>
                <div class="toolzip"><span class="glyphicon glyphicon-info-sign"></span>
                    <span class="tooltiptext">Radius around manhole to look for streets</span>
                </div>
                <br><br>
                {% gizmo button submit_manhole %}
            </form>
        </div>
    </div>
    <button type = "button" class = "collapsible">- Hide Inputs</button>

    <div class="row">
        <div class="col-12">
            <div class="main">
                {% gizmo map_view %}
            </div>
        </div>
    </div>

{% endblock %}

{% block after_app_content %}
  <div class="modal fade" id="manhole-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Manhole Page</h5>
        </div>
        <div class="modal-body">
            <p><b>This calculates the flood depth at each manhole based on the inundation raster from the streets page. Then, each manhole is determined to be either storm sewer (not enough pipe capacity) or inlet (too few storm drains) controlled. The result is a MH_Street_Inundation shapefile with a manhole depth (MH_Depth), street depth (Street_Depth), and Control (Control) field.</b></p>
            <p>Manhole Shapefile: Point shapefile showing locations of manholes (accepts .shp, .shx, .prj, .dbf, .cpg, .sbn, .sbx, and .xml file types).</p>
            <p>Manhole ID Field: The name of the field with unique IDs for each manhole.</p>
            <p>Manhole Buffer: The radius around each manhole to search for a nearby street, in the same units as raster file. It is recommended that this value be greater than 30 ft.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content_dependent_styles %}
    {{ block.super }}
    <link href="{% static 'flood_risk/css/main.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'flood_risk/css/map.css' %}" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://js.arcgis.com/4.15/"></script>
    <script src="{% static 'flood_risk/js/manhole.js' %}" type="text/javascript"></script>
{% endblock %}